In [63]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

try:
    df = pd.read_csv("df_final.csv")
except FileNotFoundError:
    exit()

df.head()

,cod_municipio,municipio,latitud,longitud,altitud,poblacion,centros_salud_10mil,farmacias_10mil,latitud_google_places,longitud_google_places,...,afiliados_agricultura_y_ganadería,afiliados_construcción,afiliados_minería_industria_y_energía,afiliados_otros_servicios,afiliados_servicios_a_empresas_y_financieros,afiliados_servicios_de_distribución_y_hostelería,afiliados_total,alumnos_total,cultura,IPVA
0,14,Acebeda (La),41.08697,-3.624634,1266.5420,68.0,0,0,41.08697,-3.624634,...,0,1,2,8,8,11,30,0,0.0,NaN
1,29,Ajalvir,40.53437,-3.481002,680.1722,4946.0,0,2,40.53437,-3.481002,...,15,110,253,578,521,691,2168,1336,0.0,NaN
2,35,Alameda del Valle,40.91790,-3.843788,1109.9340,256.0,0,39,40.91790,-3.843788,...,4,3,4,31,20,27,89,0,0.0,NaN
3,40,Álamo (El),40.22972,-3.992688,606.2238,10413.0,0,2,40.22972,-3.992688,...,22,371,319,1164,773,1122,3771,4244,0.0,NaN
4,88,Aldea del Fresno,40.32399,-4.202217,476.7994,3422.0,0,3,40.32399,-4.202217,...,27,149,70,340,213,283,1082,566,0.0,NaN

In [64]:
if 'IPVA' in df.columns:
    df = df.drop(columns=['IPVA'])
else:
    print("Column 'IPVA' does not exist in the DataFrame.")

# positive variables
positive_vars = [
    "centros_salud_10mil", "farmacias_10mil",
    "n_gym", "gym_weighted_avg_rating",
    "n_restaurant",  "restaurant_weighted_avg_rating",
    "n_pharmacy",  "pharmacy_weighted_avg_rating",
    "n_school",  "school_weighted_avg_rating",
    "n_transport","transport_weighted_avg_rating",
    "afiliados_agricultura_y_ganadería", "afiliados_construcción",
    "afiliados_minería_industria_y_energía", "afiliados_otros_servicios",
    "afiliados_servicios_a_empresas_y_financieros",
    "afiliados_servicios_de_distribución_y_hostelería",
    "afiliados_total", "alumnos_total", "cultura",
]
# negative variables
negative_vars = ["paro_total", "paro_100", "distancia_capital"]

scaler = MinMaxScaler()

In [65]:
def commute_score(x):
    if pd.isna(x):
        return None
    if x < 30:
        return 1
    elif x <= 60:
        return 0.5
    else:
        return 0
    
df['commute_score'] = df['distancia_capital'].apply(commute_score)
positive_vars += ["commute_score"]
df['restaurant_total_reviews'] = np.log1p(df['restaurant_total_reviews']) 
df['gym_total_reviews'] = np.log1p(df['gym_total_reviews']) 
df['school_total_reviews'] = np.log1p(df['school_total_reviews']) 
df['pharmacy_total_reviews'] = np.log1p(df['pharmacy_total_reviews']) 
df['transport_total_reviews'] = np.log1p(df['transport_total_reviews'])

In [66]:
df_scaled = df.copy()

# scale all variables to [0, 1]
df_scaled[positive_vars + negative_vars] = scaler.fit_transform(
    df[positive_vars + negative_vars]
)

# invert negative variables
df_scaled[negative_vars] = 1 - df_scaled[negative_vars]
print(df_scaled)

     cod_municipio              municipio   latitud  longitud    altitud  \
0               14           Acebeda (La)  41.08697 -3.624634  1266.5420
1               29                Ajalvir  40.53437 -3.481002   680.1722
2               35      Alameda del Valle  40.91790 -3.843788  1109.9340
3               40             Álamo (El)  40.22972 -3.992688   606.2238
4               88       Aldea del Fresno  40.32399 -4.202217   476.7994
..             ...                    ...       ...       ...        ...
150           1795        Villar del Olmo  40.33669 -3.235551   680.3748
151           1809  Villarejo de Salvanés  40.16873 -3.275975   759.0782
152           1816   Villaviciosa de Odón  40.35710 -3.900590   647.7311
153           1821  Villavieja del Lozoya  41.00592 -3.671118  1062.4740
154           1837              Zarzalejo  40.54749 -4.181604  1105.8080

     poblacion  centros_salud_10mil  farmacias_10mil  latitud_google_places  \
0         68.0             0.000000             0.00               41.08697
1       4946.0             0.000000             0.04               40.53437
2        256.0             0.000000             0.78               40.91790
3      10413.0             0.000000             0.04               40.22972
4       3422.0             0.000000             0.06               40.32399
..         ...                  ...              ...                    ...
150     2274.0             0.000000             0.08               40.33669
151     7887.0             0.166667             0.06               40.16873
152    29294.0             0.000000             0.06               40.35710
153      327.0             0.000000             0.62               41.00592
154     1870.0             0.000000             0.10               40.54749

     longitud_google_places  ...  afiliados_agricultura_y_ganadería  \
0                 -3.624634  ...                           0.000000
1                 -3.481002  ...                           0.064655
2                 -3.843788  ...                           0.017241
3                 -3.992688  ...                           0.094828
4                 -4.202217  ...                           0.116379
..                      ...  ...                                ...
150               -3.235551  ...                           0.017241
151               -3.275975  ...                           0.327586
152               -3.900590  ...                           0.099138
153               -3.671118  ...                           0.021552
154               -4.181604  ...                           0.051724

     afiliados_construcción  afiliados_minería_industria_y_energía  \
0                  0.000733                               0.001106
1                  0.080645                               0.139856
2                  0.002199                               0.002211
3                  0.271994                               0.176341
4                  0.109238                               0.038695
..                      ...                                    ...
150                0.074780                               0.069099
151                0.180352                               0.420122
152                0.447947                               0.440575
153                0.009531                               0.005528
154                0.070381                               0.022112

     afiliados_otros_servicios  afiliados_servicios_a_empresas_y_financieros  \
0                     0.001047                                      0.001368
1                     0.100506                                      0.101642
2                     0.005060                                      0.003714
3                     0.202757                                      0.150899
4                     0.058977                                      0.041439
..                         ...                                           ...
150                   0.053219                                      0.053753
151                   0.122317                                      0.112197
152                   0.629733                                      0.759382
153                   0.006631                                      0.004105
154                   0.042226                                      0.027756

     afiliados_servicios_de_distribución_y_hostelería  afiliados_total  \
0                                            0.001060         0.001065
1                                            0.104012         0.109522
2                                            0.003482         0.004058
3                                            0.169266         0.190839
4                                            0.042241         0.054431
..                                                ...              ...
150                                          0.059198         0.060874
151                                          0.120666         0.159894
152                                          0.484330         0.614924
153                                          0.002877         0.005276
154                                          0.019076         0.033278

     alumnos_total  cultura  commute_score
0         0.000000      0.0            0.0
1         0.035199      0.0            0.5
2         0.000000      0.0            0.0
3         0.111814      0.0            0.5
4         0.014912      0.0            0.5
..             ...      ...            ...
150       0.000263      0.0            0.5
151       0.163610      0.4            0.5
152       0.676784      0.6            1.0
153       0.001001      0.0            0.0
154       0.014596      0.0            0.0

[155 rows x 64 columns]

In [76]:
categories = { 
    "salud": ["centros_salud_10mil", 
              "farmacias_10mil", 
              "n_pharmacy", 
              "pharmacy_weighted_avg_rating"], 
    "educacion": ["school_weighted_avg_rating",
                   "n_school", 
                   "alumnos_total"], 
    "cultural": ["cultura",
                 "n_gym", 
                 "gym_weighted_avg_rating",
                 "n_restaurant", 
                 "restaurant_weighted_avg_rating"], 
    "transporte": ["commute_score"], 
    "calidad_vida":["paro_100", 
                    "afiliados_total",] }
category_weights = {
    "salud": {
        "centros_salud_10mil": 0.4,
        "farmacias_10mil": 0.3,
        "n_pharmacy": 0.1,
        "pharmacy_weighted_avg_rating": 0.2
    },
    "educacion": {
        "school_weighted_avg_rating": 0.5,
        "n_school": 0.3,
        "alumnos_total": 0.2
    },
    "cultural": {
        "cultura": 0.3,
        "n_gym": 0.15,
        "gym_weighted_avg_rating": 0.2,
        "n_restaurant": 0.15,
        "restaurant_weighted_avg_rating": 0.2
    },
    "transporte": {
        "commute_score": 1.0
    },
    "calidad_vida": {
        "paro_100": 0.6,
        "afiliados_total": 0.4
    }
}

In [79]:
category_indices = pd.DataFrame(index=df_scaled.index)
for category, vars in categories.items():
    weights = category_weights[category]
    category_indices[category] = (
    pd.concat([df_scaled[var] * weights[var] for var in vars], axis=1)
    .sum(axis=1)
)

In [80]:
category_indices.head()

      salud  educacion  cultural  transporte  calidad_vida
0  0.205000   0.545000  0.190537         0.0      0.450426
1  0.244370   0.766337  0.556492         0.5      0.413636
2  0.377813   0.465000  0.302021         0.0      0.434382
3  0.222431   0.741529  0.579033         0.5      0.329784
4  0.184679   0.550632  0.501691         0.5      0.216600