# Librer√≠as

In [1]:
# import libraries
import pandas as pd
import os
from io import StringIO

# Cargar y unir datasets

## Cargar todos los csv

In [2]:
DATA_DIR = "Datasets"

FILES = {
    "municipios_base": "municipios_madrid_menores_50000.csv",
    "centros_salud": "recursos-y-asistencia-sanitaria.-centros-por-tipo-de-centro.-municipios.csv",
    "farmacias": "recursos-sanitarios.-farmacias.csv",
    "google_places": "google_places_municipios.csv",
    "paro_total": "total-paro-registrado.csv",
    "paro_por100": "paro-registrado-por-100-habitantes.csv",
    "cultura": "numero de intereses culturales.csv",
    "distancia": "distancia-a-la-capital_2016.csv",
    "vivienda": "IPVA 2023 VIVIENDA.csv",
    "afiliados": "afiliados-por-lugar-de-residencia-y-actividad.-municipios.csv",
    "alumnos": "alumnos-no-universitarios-del-regimen-general-matriculados-en-centros-escolares-por-tipo-de-cent.csv"
}

# === FUNCIONES ===
def cargar_csv_detectando_sep(path):
    """Carga CSV detectando separador y codificaci√≥n autom√°ticamente."""
    for sep in [",", ";"]:
        try:
            df_test = pd.read_csv(path, sep=sep, nrows=5)
            if len(df_test.columns) > 1:
                full_df = pd.read_csv(path, sep=sep)
                return full_df, sep, None
        except Exception:
            continue
    for encoding in ["utf-8", "ISO-8859-1"]:
        for sep in [",", ";"]:
            try:
                full_df = pd.read_csv(path, sep=sep, encoding=encoding)
                if len(full_df.columns) > 1:
                    return full_df, sep, encoding
            except Exception:
                continue
    return None, None, None

def explorar_dataset(nombre, path):
    """Carga y muestra informaci√≥n b√°sica de un dataset."""
    print(f"\nüìÇ {nombre} ‚Äî {path}")
    df, sep, encoding = cargar_csv_detectando_sep(path)
    
    if df is None:
        print("‚ùå No se pudo cargar el archivo correctamente.")
        return None
    
    print(f"‚úîÔ∏è Separador: '{sep}' | Codificaci√≥n: '{encoding}' | Filas: {len(df)} | Columnas: {len(df.columns)}")
    print("üßæ Columnas:", list(df.columns)[:8], "..." if len(df.columns) > 8 else "")
    print(df.head(3))
    return df

def inspeccionar_texto(path, n=8):
    """Muestra algunas l√≠neas del archivo en bruto para inspecci√≥n manual."""
    print(f"\nüîé Inspeccionando texto bruto de {path}:")
    try:
        with open(path, "r", encoding="utf-8") as f:
            for i, line in enumerate(f):
                print(line.strip())
                if i >= n:
                    break
    except UnicodeDecodeError:
        print("‚ö†Ô∏è Error de codificaci√≥n UTF-8, probando ISO-8859-1...")
        with open(path, "r", encoding="ISO-8859-1") as f:
            for i, line in enumerate(f):
                print(line.strip())
                if i >= n:
                    break

# --- CARGA PRINCIPAL ---
def main():
    dfs = {}
    for name, filename in FILES.items():
        path = os.path.join(DATA_DIR, filename)
        if not os.path.exists(path):
            print(f"‚ö†Ô∏è Archivo no encontrado: {path}")
            continue
        df = explorar_dataset(name, path)
        if df is not None:
            dfs[name] = df
        else:
            inspeccionar_texto(path)
    print("\n‚úÖ Exploraci√≥n completa. DataFrames cargados:", list(dfs.keys()))
    return dfs

if __name__ == "__main__":
    dfs = main()

üìÇ municipios_base ‚Äî Datasets\municipios_madrid_menores_50000.csv
‚úîÔ∏è Separador: ',' | Codificaci√≥n: 'None' | Filas: 155 | Columnas: 6
üßæ Columnas: ['cod_municipio', 'municipio', 'latitud', 'longitud', 'altitud', 'poblacion']
   cod_municipio          municipio   latitud  longitud    altitud  poblacion
0             14       Acebeda (La)  41.08697 -3.624634  1266.5420       68.0
1             29            Ajalvir  40.53437 -3.481002   680.1722     4946.0
2             35  Alameda del Valle  40.91790 -3.843788  1109.9340      256.0

üìÇ centros_salud ‚Äî Datasets\recursos-y-asistencia-sanitaria.-centros-por-tipo-de-centro.-municipios.csv
‚úîÔ∏è Separador: ',' | Codificaci√≥n: 'None' | Filas: 573 | Columnas: 7
üßæ Columnas: ['A√±o', 'Tipo territorio', 'C√≥digo territorio', 'Territorio', 'Tipo', 'Medida', 'Valor']
    A√±o      Tipo territorio  C√≥digo territorio           Territorio  \
0  2024  Comunidad de Madrid                NaN  Comunidad de Madrid
1  2024           Municipios               14.0         Acebeda (La)
2  2024           Municipios               29.0              Ajalvir

                                      Tipo                 Medida  Valor
0  Consultorios locales y centros de salud  Por 10.000 habitantes      1
1  Consultorios locales y centros de salud  Por 10.000 habitantes    147
2  Consultorios locales y centros de salud  Por 10.000 habitantes      2

üìÇ farmacias ‚Äî Datasets\recursos-sanitarios.-farmacias.csv
‚úîÔ∏è Separador: ',' | Codificaci√≥n: 'ISO-8859-1' | Filas: 180 | Columnas: 6
üßæ Columnas: ['A√±o', 'Tipo territorio', 'C√≥digo territorio', 'Territorio', 'Medida', 'Valor']
    A√±o      Tipo territorio  C√≥digo territorio           Territorio  \
0  2024  Comunidad de Madrid                NaN  Comunidad de Madrid
1  2024           Municipios               14.0         Acebeda (La)
2  2024           Municipios               29.0              Ajalvir

                  Medida  Valor
0  Por 10.000 habitantes      4
1  Por 10.000 habitantes      0
2  Por 10.000 habitantes      2

üìÇ google_places ‚Äî Datasets\google_places_municipios.csv
‚úîÔ∏è Separador: ',' | Codificaci√≥n: 'None' | Filas: 155 | Columnas: 30
üßæ Columnas: ['cod_municipio', 'municipio', 'latitud', 'longitud', 'poblacion', 'n_gym', 'gym_total_reviews', 'gym_weighted_avg_rating'] ...
   cod_municipio          municipio   latitud  longitud  poblacion  n_gym  \
0             14       Acebeda (La)  41.08697 -3.624634       68.0      1
1             29            Ajalvir  40.53437 -3.481002     4946.0     20
2             35  Alameda del Valle  40.91790 -3.843788      256.0      1

   gym_total_reviews  gym_weighted_avg_rating  gym_rating_min  gym_rating_max  \
0                  0                      NaN             NaN             NaN
1               1563                 4.438068             3.0             5.0
2                  0                      NaN             NaN             NaN

   ...  n_school  school_total_reviews  school_weighted_avg_rating  \
0  ...         3                     7                    5.000000
1  ...        20                  1426                    4.902314
2  ...         6                   131                    4.700000

   school_rating_min  school_rating_max  n_transport  transport_total_reviews  \
0                5.0                5.0           27                       15
1                4.8                5.0           24                       19
2                4.7                4.7           22                       39

   transport_weighted_avg_rating  transport_rating_min  transport_rating_max
0                       4.400000                   2.0                   5.0
1                       4.321053                   3.0                   4.8
2                       4.400000                   2.0                   5.0

[3 rows x 30 columns]

üìÇ paro_total ‚Äî Datasets\total-paro-registrado.csv
‚úîÔ∏è Separador: ';' | Codificaci√≥n: 'ISO-8859-1' | Filas: 3820 | Columnas: 6
üßæ Columnas: ['A√±o', 'Tipo territorio', 'C√≥digo territorio', 'Territorio', 'Valor', 'Estado dato']
    A√±o      Tipo territorio  C√≥digo territorio           Territorio   Valor  \
0  2006  Comunidad de Madrid                NaN  Comunidad de Madrid  223860
1  2006           Municipios               14.0         Acebeda (La)       1
2  2006           Municipios               29.0              Ajalvir     100

   Estado dato
0          NaN
1          NaN
2          NaN

üìÇ paro_por100 ‚Äî Datasets\paro-registrado-por-100-habitantes.csv
‚úîÔ∏è Separador: ';' | Codificaci√≥n: 'ISO-8859-1' | Filas: 3629 | Columnas: 6
üßæ Columnas: ['A√±o', 'Tipo territorio', 'C√≥digo territorio', 'Territorio', 'Valor', 'Estado dato']
    A√±o      Tipo territorio  C√≥digo territorio           Territorio  Valor  \
0  2006  Comunidad de Madrid                NaN  Comunidad de Madrid   3.73
1  2006           Municipios               14.0         Acebeda (La)   1.69
2  2006           Municipios               29.0              Ajalvir   3.10

   Estado dato
0          NaN
1          NaN
2          NaN

üìÇ cultura ‚Äî Datasets\numero de intereses culturales.csv
‚ùå No se pudo cargar el archivo correctamente.

üîé Inspeccionando texto bruto de Datasets\numero de intereses culturales.csv:
ÔªøCultura y ocio.Actividades culturales.Otros. Total bienes de inter√©s cultural. Unidad: N√∫mero. Fuente: Direcci√≥n General de Patrimonio Cultural y Oficina del Espa√±ol. Consejer√≠a de Cultura, Turismo.y Deporte;
Serie;;;2006;2007;2008;2009;2010;2011;2012;2013;2014;2015;2016;2017;2018;2019;2020;2021;2022;2023;2024
Comunidad de Madrid;;Comunidad de Madrid;209,00;212,00;213,00;213,00;214,00;218,00;222,00;228,00;229,00;229,00;231,00;235,00;238,00;247,00;251,00;257,00;263,00;269,00;274,00;
Zonas Estad√≠sticas;01;Municipio de Madrid ;99,00;100,00;101,00;101,00;102,00;104,00;105,00;110,00;111,00;111,00;111,00;113,00;116,00;119,00;120,00;121,00;123,00;125,00;127,00;
Zonas Estad√≠sticas;02;Norte Metropolitano ;3,00;3,00;3,00;3,00;3,00;3,00;3,00;3,00;3,00;3,00;3,00;3,00;3,00;3,00;3,00;3,00;3,00;3,00;3,00;
Zonas Estad√≠sticas;03;Este Metropolitano  ;18,00;18,00;18,00;18,00;18,00;18,00;18,00;18,00;18,00;18,00;18,00;18,00;18,00;19,00;19,00;19,00;20,00;21,00;21,00;
Zonas Estad√≠sticas;04;Sur Metropolitano   ;10,00;11,00;11,00;11,00;11,00;11,00;11,00;11,00;11,00;11,00;12,00;12,00;12,00;13,00;13,00;13,00;13,00;14,00;15,00;
Zonas Estad√≠sticas;05;Oeste Metropolitano ;8,00;8,00;8,00;8,00;8,00;8,00;8,00;8,00;8,00;8,00;9,00;9,00;9,00;10,00;10,00;10,00;11,00;13,00;13,00;
Zonas Estad√≠sticas;06;Sierra Norte        ;19,00;19,00;19,00;19,00;19,00;19,00;19,00;19,00;19,00;19,00;19,00;19,00;19,00;20,00;21,00;22,00;22,00;22,00;23,00;

üìÇ distancia ‚Äî Datasets\distancia-a-la-capital_2016.csv
‚úîÔ∏è Separador: ';' | Codificaci√≥n: 'ISO-8859-1' | Filas: 179 | Columnas: 6
üßæ Columnas: ['A√±o', 'Tipo territorio', 'C√≥digo territorio', 'Territorio', 'Valor', 'Estado dato']
    A√±o Tipo territorio  C√≥digo territorio         Territorio   Valor  \
0  2016      Municipios                 14       Acebeda (La)  88.477
1  2016      Municipios                 29            Ajalvir  34.911
2  2016      Municipios                 35  Alameda del Valle  92.242

   Estado dato
0          NaN
1          NaN
2          NaN

üìÇ vivienda ‚Äî Datasets\IPVA 2023 VIVIENDA.csv
‚úîÔ∏è Separador: ';' | Codificaci√≥n: 'ISO-8859-1' | Filas: 752 | Columnas: 4
üßæ Columnas: ['Municipio', 'Tipo de dato', 'Periodo', 'Total']
        Municipio Tipo de dato  Periodo    Total
0  Total Nacional       √çndice     2023  118,727
1  02003 Albacete       √çndice     2023  116,009
2   02009 Almansa       √çndice     2023  111,702

üìÇ afiliados ‚Äî Datasets\afiliados-por-lugar-de-residencia-y-actividad.-municipios.csv
‚úîÔ∏è Separador: ';' | Codificaci√≥n: 'ISO-8859-1' | Filas: 16212 | Columnas: 7
üßæ Columnas: ['A√±o', 'Tipo territorio', 'C√≥digo territorio', 'Territorio', 'Rama de actividad', 'Valor', 'Estado dato']
    A√±o      Tipo territorio  C√≥digo territorio           Territorio  \
0  2014  Comunidad de Madrid                NaN  Comunidad de Madrid
1  2014           Municipios               14.0         Acebeda (La)
2  2014           Municipios               29.0              Ajalvir

         Rama de actividad  Valor  Estado dato
0  Agricultura y ganader√≠a   7022          NaN
1  Agricultura y ganader√≠a      2          NaN
2  Agricultura y ganader√≠a     11          NaN

üìÇ alumnos ‚Äî Datasets\alumnos-no-universitarios-del-regimen-general-matriculados-en-centros-escolares-por-tipo-de-cent.csv
‚úîÔ∏è Separador: ';' | Codificaci√≥n: 'ISO-8859-1' | Filas: 219077 | Columnas: 8
üßæ Columnas: ['A√±o', 'Tipo territorio', 'C√≥digo territorio', 'Territorio', 'Tipo', 'Ense√±anza', 'Valor', 'Estado dato']
    A√±o      Tipo territorio  C√≥digo territorio           Territorio   Tipo  \
0  1994  Comunidad de Madrid                NaN  Comunidad de Madrid  Total
1  1994           Municipios               14.0         Acebeda (La)  Total
2  1994           Municipios               29.0              Ajalvir  Total

            Ense√±anza   Valor Estado dato
0  Educaci√≥n Infantil  129955         NaN
1  Educaci√≥n Infantil       0         NaN
2  Educaci√≥n Infantil      54         NaN

‚úÖ Exploraci√≥n completa. DataFrames cargados: ['municipios_base', 'centros_salud', 'farmacias', 'google_places', 'paro_total', 'paro_por100', 'distancia', 'vivienda', 'afiliados', 'alumnos']

El archivo "numero de intereses culturales.csv" no sigue el formato de un csv regular, presenta 22 columnas pero hay un punto y coma extra en el final de cada fila. Adem'as, las conas son para numeros decimales y la primera y segunda fila son descriptivas. Por lo que se eliminar√≠a las primeras filas, limpiar texto quitando el ; final y luego las cuatro primeras columnas los nombrar√≠amos: "Tipo territorio", "C√≥digo territorio", "Territorio". A esto le a√±adimos las columnas a√±os que van desde 2006 hasta el 2024.

In [3]:
def cargar_cultura_limpia(path):
    """Carga y limpia el dataset de cultura (corrige ';' extra y pasa de ancho a largo)."""
    with open(path, "rb") as f:
        raw = f.read()

    # eliminar BOM si existe
    if raw.startswith(b'\xef\xbb\xbf'):
        raw = raw[len(b'\xef\xbb\xbf'):]
    text = raw.decode("ISO-8859-1", errors="replace")

    # limpiar saltos de l√≠nea
    lines = [ln.rstrip("\r\n") for ln in text.splitlines()]
    # saltar dos primeras l√≠neas descriptivas
    data_lines = lines[2:]

    cleaned = []
    for ln in data_lines:
        ln = ln.replace('\ufeff', '').replace('\u200b', '').strip()
        # eliminar cualquier ';' extra al final
        while ln.endswith(';'):
            ln = ln[:-1]
        cleaned.append(ln)

    # detectar columnas esperadas (primer fila v√°lida)
    expected_cols = None
    for ln in cleaned:
        parts = ln.split(';')
        if len(parts) >= 3:
            expected_cols = len(parts)
            break

    if expected_cols is None:
        raise ValueError("No se pudo inferir el n√∫mero de columnas del fichero de cultura.")

    normalized = []
    for ln in cleaned:
        parts = ln.split(';')
        # eliminar columnas vac√≠as extra al final
        while len(parts) > expected_cols and parts[-1] == '':
            parts = parts[:-1]
        # recortar o rellenar seg√∫n corresponda
        if len(parts) > expected_cols:
            parts = parts[:expected_cols-1] + [';'.join(parts[expected_cols-1:])]
        if len(parts) < expected_cols:
            parts += [''] * (expected_cols - len(parts))
        normalized.append(';'.join(parts))

    # encabezado correcto
    years = [str(y) for y in range(2006, 2025)]
    header = ["Tipo territorio", "C√≥digo territorio", "Territorio"] + years
    csv_text = ";".join(header) + "\n" + "\n".join(normalized)

    # leer con pandas
    df = pd.read_csv(StringIO(csv_text), sep=';', decimal=',', dtype=str, engine='python')

    # quedarnos con los municipios
    df = df[df["Tipo territorio"] == "Municipios"]

    # pasar a formato largo
    df_long = df.melt(
        id_vars=["C√≥digo territorio", "Territorio"],
        var_name="A√±o",
        value_name="Valor"
    )

    # limpiar tipos
    df_long["A√±o"] = pd.to_numeric(df_long["A√±o"], errors="coerce").astype("Int64")
    df_long["Valor"] = (
        df_long["Valor"]
        .str.replace(".", "", regex=False)
        .str.replace(",", ".", regex=False)
    )
    df_long["Valor"] = pd.to_numeric(df_long["Valor"], errors="coerce")

    print(f"‚úÖ Dataset 'cultura' cargado correctamente: {df_long.shape}")
    print(df_long.head(200))
    return df_long


# Ejemplo de uso
if __name__ == "__main__":
    df_cultura = cargar_cultura_limpia("Datasets/numero de intereses culturales.csv")

dfs["cultura"] = df_cultura

‚úÖ Dataset 'cultura' cargado correctamente: (3580, 4)
    C√≥digo territorio             Territorio   A√±o  Valor
0                0014           Acebeda (La)  <NA>    NaN
1                0029                Ajalvir  <NA>    NaN
2                0035      Alameda del Valle  <NA>    NaN
3                0040            √É¬Ålamo (El)  <NA>    NaN
4                0053     Alcal√É¬° de Henares  <NA>    NaN
..                ...                    ...   ...    ...
195              0170                 Batres  2006    2.0
196              0186  Becerril de la Sierra  2006    0.0
197              0199       Belmonte de Tajo  2006    0.0
198              0210          Berrueco (El)  2006    1.0
199              0203     Berzosa del Lozoya  2006    0.0

[200 rows x 4 columns]

## Limpieza y tranformaci√≥n antes de unirse

In [4]:
def pipeline_general(df, year_col="A√±o", code_col="C√≥digo territorio", value_col="Valor", last_year=True, to_int=True, rename_value=None):
    """Funci√≥n general para transformar datasets con estructura com√∫n"""
    df = df.copy()
    
    # Filtrar por √∫ltimo a√±o
    if last_year and year_col in df.columns:
        # garantizar que el a√±o se compare como num√©rico (puede haber NaNs)
        df_years = pd.to_numeric(df[year_col], errors="coerce")
        max_year = df_years.max()
        df = df[df_years == max_year]
    
    # Convertir c√≥digo de municipio a entero nullable (soporta NA)
    if code_col in df.columns:
        df["cod_municipio"] = pd.to_numeric(df[code_col], errors="coerce").astype("Int64")
    
    # Renombrar columna de valor (si se pide)
    if rename_value and value_col in df.columns:
        df = df.rename(columns={value_col: rename_value})
    
    # determinar nombre final de la columna de valor
    target_value_col = rename_value if rename_value else value_col
    
    # Convertir columna valor a num√©rica (soporta coma como decimal si ya limpia; en caso contrario intenta conversi√≥n directa)
    if target_value_col in df.columns:
        # si es object, intentar limpiar separadores comunes (puntos miles, comas decimales)
        if df[target_value_col].dtype == object:
            # Reemplazos no destructivos: quitar espacios y convertir comas a puntos
            df[target_value_col] = (
                df[target_value_col]
                .astype(str)
                .str.replace(r"\s+", "", regex=True)
                .str.replace(".", "", regex=False)  # eliminar separadores de miles
                .str.replace(",", ".", regex=False)  # coma decimal -> punto
            )
        df[target_value_col] = pd.to_numeric(df[target_value_col], errors="coerce")
    
    return df

# --- Funci√≥n espec√≠fica para vivienda (m√°s robusta) ---
def pipeline_vivienda(df):
    df = df.copy()

    # Si ya est√° procesado (columnas esperadas), devolver versi√≥n normalizada
    if {"cod_postal", "municipio", "IPVA"}.issubset(df.columns):
        df["cod_postal"] = pd.to_numeric(df["cod_postal"], errors="coerce").astype("Int64")
        df["IPVA"] = pd.to_numeric(df["IPVA"], errors="coerce")
        df["municipio"] = df["municipio"].astype(str).str.strip()
        return df[["cod_postal", "municipio", "IPVA"]].reset_index(drop=True)

    # Localizar columna que contiene municipio (acepta varias variantes)
    muni_col = None
    for c in ["Municipio", "Territorio", "municipio", "territorio"]:
        if c in df.columns:
            muni_col = c
            break
    if muni_col is None:
        raise KeyError("No se encontr√≥ columna de municipio. Buscando 'Municipio' o 'Territorio'.")

    # Localizar columna de periodo/a√±o si existe
    period_col = None
    for c in ["Periodo", "A√±o", "Year"]:
        if c in df.columns:
            period_col = c
            break
    # Filtrar por √∫ltimo a√±o ignorando valores nulos en periodo
    if period_col is not None:
        periodo_num = pd.to_numeric(df[period_col], errors="coerce")
        valid_periods = periodo_num.dropna()
        if not valid_periods.empty:
            last_year = valid_periods.max()
            df = df[periodo_num == last_year]

    # Normalizar texto de la columna municipio y separar c√≥digo y nombre
    s = df[muni_col].astype(str).fillna("").str.strip()
    # reemplazar guiones largos por espacio y limpiar espacios extra
    s_clean = s.str.replace(r"[-‚Äì‚Äî]+", " ", regex=True).str.strip()
    parts = s_clean.str.split(r"\s+", n=1, expand=True)

    # Extraer d√≠gitos iniciales como c√≥digo postal/c√≥digo municipio cuando existan
    first_part_digits = parts[0].str.extract(r"(\d+)", expand=False)
    df["cod_postal"] = pd.to_numeric(first_part_digits, errors="coerce").astype("Int64")

    # Si no hay segunda parte, usar la primera (√∫til si ya solo contiene nombre)
    df["municipio"] = parts[1].where(parts[1].notna(), parts[0]).astype(str).str.strip()

    # Localizar columna de valor (Total/IPVA u otras variantes)
    value_col = None
    for c in ["Total", "IPVA", "Valor", "Importe"]:
        if c in df.columns:
            value_col = c
            break
    if value_col is None:
        # intentar usar la primera columna num√©rica razonable
        numeric_cols = df.select_dtypes(include=["number"]).columns.tolist()
        # excluir columnas que claramente no son el valor buscado
        for excl in ["cod_postal"]:
            if excl in numeric_cols:
                numeric_cols.remove(excl)
        if numeric_cols:
            value_col = numeric_cols[0]

    if value_col is None:
        raise KeyError("No se encontr√≥ columna de valor (Total/IPVA/Valor) en el dataset de vivienda.")

    # Limpiar formato del valor y convertir a num√©rico
    df["IPVA"] = (
        df[value_col]
        .astype(str)
        .str.replace(r"\s+", "", regex=True)
        .str.replace(".", "", regex=False)
        .str.replace(",", ".", regex=False)
    )
    df["IPVA"] = pd.to_numeric(df["IPVA"], errors="coerce")

    return df[["cod_postal", "municipio", "IPVA"]].reset_index(drop=True)

# --- Funci√≥n espec√≠fica para cultura (maneja a√±os nulos) ---
def pipeline_cultura(df):
    df = df.copy()
    # Filtrar por √∫ltimo a√±o ignorando valores nulos en 'A√±o'
    if "A√±o" in df.columns:
        year_num = pd.to_numeric(df["A√±o"], errors="coerce")
        valid_years = year_num.dropna()
        if not valid_years.empty:
            last_year = valid_years.max()
            df = df[year_num == last_year]
        # si no hay a√±os v√°lidos, no filtramos (mantenemos todo)
    # convertir c√≥digo a entero nullable (si existe)
    if "C√≥digo territorio" in df.columns:
        df["cod_municipio"] = pd.to_numeric(df["C√≥digo territorio"], errors="coerce").astype("Int64")
    else:
        # intentar encontrar columna parecida si cambia el nombre
        for c in df.columns:
            if "codigo" in c.lower() or "territorio" in c.lower():
                df["cod_municipio"] = pd.to_numeric(df[c], errors="coerce").astype("Int64")
                break
    # asegurar Valor num√©rico si existe
    if "Valor" in df.columns:
        df["Valor"] = pd.to_numeric(df["Valor"], errors="coerce")
    return df[["cod_municipio", "Valor"]]

# Aplicar pipelines solo si existen las claves en dfs (evita KeyError)
if "centros_salud" in dfs:
    dfs["centros_salud"] = pipeline_general(dfs["centros_salud"], year_col="A√±o", code_col="C√≥digo territorio", value_col="Valor", rename_value="centros_salud")
if "farmacias" in dfs:
    dfs["farmacias"] = pipeline_general(dfs["farmacias"], rename_value="farmacias")
if "paro_total" in dfs:
    dfs["paro_total"] = pipeline_general(dfs["paro_total"], rename_value="paro_total")
if "paro_por100" in dfs:
    dfs["paro_por100"] = pipeline_general(dfs["paro_por100"], rename_value="paro_100")
if "distancia" in dfs:
    dfs["distancia"] = pipeline_general(dfs["distancia"], rename_value="distancia_capital")
if "vivienda" in dfs:
    dfs["vivienda"] = pipeline_vivienda(dfs["vivienda"])
if "afiliados" in dfs:
    dfs["afiliados"] = pipeline_general(dfs["afiliados"], rename_value="afiliados")
if "alumnos" in dfs:
    dfs["alumnos"] = pipeline_general(dfs["alumnos"], rename_value="alumnos")
if "cultura" in dfs:
    dfs["cultura"] = pipeline_cultura(dfs["cultura"])

In [5]:
# ‚úÖ Revisar que todo se haya transformado correctamente
for name, df in dfs.items():
    print(f"\n{name.upper()} ‚Äî Filas: {len(df)} | Columnas: {df.shape[1]}")
    print(df.head(5))

MUNICIPIOS_BASE ‚Äî Filas: 155 | Columnas: 6
   cod_municipio          municipio   latitud  longitud    altitud  poblacion
0             14       Acebeda (La)  41.08697 -3.624634  1266.5420       68.0
1             29            Ajalvir  40.53437 -3.481002   680.1722     4946.0
2             35  Alameda del Valle  40.91790 -3.843788  1109.9340      256.0
3             40         √Ålamo (El)  40.22972 -3.992688   606.2238    10413.0
4             88   Aldea del Fresno  40.32399 -4.202217   476.7994     3422.0

CENTROS_SALUD ‚Äî Filas: 573 | Columnas: 8
    A√±o      Tipo territorio  C√≥digo territorio           Territorio  \
0  2024  Comunidad de Madrid                NaN  Comunidad de Madrid
1  2024           Municipios               14.0         Acebeda (La)
2  2024           Municipios               29.0              Ajalvir
3  2024           Municipios               35.0    Alameda del Valle
4  2024           Municipios               40.0           √Ålamo (El)

                                      Tipo                 Medida  \
0  Consultorios locales y centros de salud  Por 10.000 habitantes
1  Consultorios locales y centros de salud  Por 10.000 habitantes
2  Consultorios locales y centros de salud  Por 10.000 habitantes
3  Consultorios locales y centros de salud  Por 10.000 habitantes
4  Consultorios locales y centros de salud  Por 10.000 habitantes

   centros_salud  cod_municipio
0              1           <NA>
1            147             14
2              2             29
3             39             35
4              1             40

FARMACIAS ‚Äî Filas: 180 | Columnas: 7
    A√±o      Tipo territorio  C√≥digo territorio           Territorio  \
0  2024  Comunidad de Madrid                NaN  Comunidad de Madrid
1  2024           Municipios               14.0         Acebeda (La)
2  2024           Municipios               29.0              Ajalvir
3  2024           Municipios               35.0    Alameda del Valle
4  2024           Municipios               40.0           √Ålamo (El)

                  Medida  farmacias  cod_municipio
0  Por 10.000 habitantes          4           <NA>
1  Por 10.000 habitantes          0             14
2  Por 10.000 habitantes          2             29
3  Por 10.000 habitantes         39             35
4  Por 10.000 habitantes          2             40

GOOGLE_PLACES ‚Äî Filas: 155 | Columnas: 30
   cod_municipio          municipio   latitud  longitud  poblacion  n_gym  \
0             14       Acebeda (La)  41.08697 -3.624634       68.0      1
1             29            Ajalvir  40.53437 -3.481002     4946.0     20
2             35  Alameda del Valle  40.91790 -3.843788      256.0      1
3             40         √Ålamo (El)  40.22972 -3.992688    10413.0     19
4             88   Aldea del Fresno  40.32399 -4.202217     3422.0      4

   gym_total_reviews  gym_weighted_avg_rating  gym_rating_min  gym_rating_max  \
0                  0                      NaN             NaN             NaN
1               1563                 4.438068             3.0             5.0
2                  0                      NaN             NaN             NaN
3               2401                 4.334069             3.8             5.0
4                147                 4.696599             3.0             4.8

   ...  n_school  school_total_reviews  school_weighted_avg_rating  \
0  ...         3                     7                    5.000000
1  ...        20                  1426                    4.902314
2  ...         6                   131                    4.700000
3  ...        20                    50                    4.806000
4  ...        11                   719                    4.718359

   school_rating_min  school_rating_max  n_transport  transport_total_reviews  \
0                5.0                5.0           27                       15
1                4.8                5.0           24                       19
2                4.7                4.7           22                       39
3                4.3                5.0           22                       12
4                4.0                5.0           24                       28

   transport_weighted_avg_rating  transport_rating_min  transport_rating_max
0                       4.400000                   2.0                   5.0
1                       4.321053                   3.0                   4.8
2                       4.400000                   2.0                   5.0
3                       3.983333                   2.0                   5.0
4                       4.228571                   3.0                   5.0

[5 rows x 30 columns]

PARO_TOTAL ‚Äî Filas: 191 | Columnas: 7
       A√±o      Tipo territorio  C√≥digo territorio           Territorio  \
3629  2025  Comunidad de Madrid                NaN  Comunidad de Madrid
3630  2025           Municipios               14.0         Acebeda (La)
3631  2025           Municipios               29.0              Ajalvir
3632  2025           Municipios               35.0    Alameda del Valle
3633  2025           Municipios               40.0           √Ålamo (El)

      paro_total  Estado dato  cod_municipio
3629      293817          NaN           <NA>
3630           3          NaN             14
3631         177          NaN             29
3632          17          NaN             35
3633         523          NaN             40

PARO_POR100 ‚Äî Filas: 191 | Columnas: 7
       A√±o      Tipo territorio  C√≥digo territorio           Territorio  \
3438  2024  Comunidad de Madrid                NaN  Comunidad de Madrid
3439  2024           Municipios               14.0         Acebeda (La)
3440  2024           Municipios               29.0              Ajalvir
3441  2024           Municipios               35.0    Alameda del Valle
3442  2024           Municipios               40.0           √Ålamo (El)

      paro_100  Estado dato  cod_municipio
3438      4.38          NaN           <NA>
3439      2.94          NaN             14
3440      3.87          NaN             29
3441      3.14          NaN             35
3442      5.22          NaN             40

DISTANCIA ‚Äî Filas: 179 | Columnas: 7
    A√±o Tipo territorio  C√≥digo territorio         Territorio  \
0  2016      Municipios                 14       Acebeda (La)
1  2016      Municipios                 29            Ajalvir
2  2016      Municipios                 35  Alameda del Valle
3  2016      Municipios                 40         √Ålamo (El)
4  2016      Municipios                 53  Alcal√° de Henares

   distancia_capital  Estado dato  cod_municipio
0             88.477          NaN             14
1             34.911          NaN             29
2             92.242          NaN             35
3             42.104          NaN             40
4             32.760          NaN             53

VIVIENDA ‚Äî Filas: 752 | Columnas: 3
   cod_postal municipio     IPVA
0        <NA>  Nacional  118.727
1        2003  Albacete  116.009
2        2009   Almansa  111.702
3        2025   Caudete  105.418
4        2037    Hell√≠n  113.467

AFILIADOS ‚Äî Filas: 1351 | Columnas: 8
       A√±o      Tipo territorio  C√≥digo territorio           Territorio  \
2123  2025  Comunidad de Madrid                NaN  Comunidad de Madrid
2124  2025           Municipios               14.0         Acebeda (La)
2125  2025           Municipios               29.0              Ajalvir
2126  2025           Municipios               35.0    Alameda del Valle
2127  2025           Municipios               40.0           √Ålamo (El)

            Rama de actividad  afiliados  Estado dato  cod_municipio
2123  Agricultura y ganader√≠a       7547          NaN           <NA>
2124  Agricultura y ganader√≠a          0          NaN             14
2125  Agricultura y ganader√≠a         15          NaN             29
2126  Agricultura y ganader√≠a          4          NaN             35
2127  Agricultura y ganader√≠a         22          NaN             40

ALUMNOS ‚Äî Filas: 10314 | Columnas: 9
       A√±o      Tipo territorio  C√≥digo territorio           Territorio  \
5539  2024  Comunidad de Madrid                NaN  Comunidad de Madrid
5540  2024           Municipios               14.0         Acebeda (La)
5541  2024           Municipios               29.0              Ajalvir
5542  2024           Municipios               35.0    Alameda del Valle
5543  2024           Municipios               40.0           √Ålamo (El)

       Tipo           Ense√±anza  alumnos  Estado dato  cod_municipio
5539  Total  Educaci√≥n Infantil   251461  Provisional           <NA>
5540  Total  Educaci√≥n Infantil        0  Provisional             14
5541  Total  Educaci√≥n Infantil      162  Provisional             29
5542  Total  Educaci√≥n Infantil        0  Provisional             35
5543  Total  Educaci√≥n Infantil      461  Provisional             40

CULTURA ‚Äî Filas: 179 | Columnas: 2
      cod_municipio  Valor
3401             14    0.0
3402             29    0.0
3403             35    0.0
3404             40    0.0
3405             53   13.0

## Uni√≥n de datasets: DATASET COMPLETO

In [6]:
# === FUNCIONES AUXILIARES ===

def preparar_afiliados(df):
    """Convierte afiliados (one-to-many) a formato ancho por rama de actividad.
    Normaliza la columna 'Rama de actividad' (min√∫sculas, sin espacios ni caracteres inv√°lidos)
    antes del pivot.
    """
    df = df.copy()
    # Normalizar texto
    df["Rama de actividad"] = df["Rama de actividad"].astype(str).str.strip().str.lower()
    # Reemplazar espacios por guiones bajos y eliminar caracteres no alfanum√©ricos/gui√≥n bajo
    df["rama_norm"] = (
        df["Rama de actividad"]
        .str.replace(r"\s+", "_", regex=True)
        .str.replace(r"[^\w]", "", regex=True)
    )
    # Asegurar que 'afiliados' es num√©rico
    df["afiliados"] = pd.to_numeric(df.get("afiliados"), errors="coerce").fillna(0)
    # Pivotear
    df_pivot = df.pivot_table(
        index="cod_municipio",
        columns="rama_norm",
        values="afiliados",
        aggfunc="sum",
        fill_value=0,
    ).reset_index()
    # Renombrar columnas de salida
    df_pivot.columns = ["cod_municipio"] + [f"afiliados_{c}" for c in df_pivot.columns[1:]]
    return df_pivot

def preparar_alumnos(df):
    """Agrupa por municipio para obtener el total de alumnos no universitarios."""
    df = df.copy()
    df["alumnos"] = pd.to_numeric(df["alumnos"], errors="coerce")
    df_agg = df.groupby("cod_municipio", as_index=False)["alumnos"].sum()
    df_agg = df_agg.rename(columns={"alumnos": "alumnos_total"})
    return df_agg

def preparar_cultura(df):
    df = df.copy()
    df = df.rename(columns={"Valor": "cultura"})
    return df[["cod_municipio", "cultura"]]

def preparar_centros_salud(df):
    df = df.copy()
    # Filtrar solo las filas donde la columna 'Tipo' indique 'Centros de salud'
    if "Tipo" in df.columns:
        df = df[df["Tipo"].astype(str).str.strip().str.lower() == "centros de salud"].copy()
    df = df.rename(columns={"centros_salud": "centros_salud_10mil"})
    return df[["cod_municipio", "centros_salud_10mil"]]

def preparar_farmacias(df):
    df = df.copy()
    df = df.rename(columns={"farmacias": "farmacias_10mil"})
    return df[["cod_municipio", "farmacias_10mil"]]

def preparar_vivienda(df):
    df = df.copy()
    df = df.rename(columns={"municipio": "municipio", "IPVA": "IPVA"})
    df["municipio"] = df["municipio"].str.strip().str.lower()
    return df[["municipio", "IPVA"]]

def preparar_municipios_base(df):
    df = df.copy()
    return df[["cod_municipio", "municipio", "latitud", "longitud", "altitud", "poblacion"]]

# === PIPELINE DE UNI√ìN ===
def unir_todos(dfs, output_path="df_final.csv"):
    # Base: municipios
    df_final = preparar_municipios_base(dfs["municipios_base"])

    def merge(df_dest, name, how="left", on="cod_municipio"):
        if name not in dfs:
            print(f"‚ö†Ô∏è {name} no encontrado, se omite.")
            return df_dest

        print(f"üß© Uniendo {name}...")
        df_src = dfs[name]
        result = df_dest.merge(df_src, on=on, how=how, suffixes=("", f"_{name}"))

        # Si se crean columnas municipio_x / municipio_y, mantener solo la de municipios_base
        for col in ["municipio_y", f"municipio_{name}"]:
            if col in result.columns:
                result.drop(columns=[col], inplace=True)
        if "municipio_x" in result.columns:
            result.rename(columns={"municipio_x": "municipio"}, inplace=True)

        return result

    # Preparar datasets espec√≠ficos
    if "centros_salud" in dfs:
        dfs["centros_salud"] = preparar_centros_salud(dfs["centros_salud"])
    if "farmacias" in dfs:
        dfs["farmacias"] = preparar_farmacias(dfs["farmacias"])
    if "cultura" in dfs:
        dfs["cultura"] = preparar_cultura(dfs["cultura"])
    if "afiliados" in dfs:
        dfs["afiliados"] = preparar_afiliados(dfs["afiliados"])
    if "alumnos" in dfs:
        dfs["alumnos"] = preparar_alumnos(dfs["alumnos"])
    if "vivienda" in dfs:
        dfs["vivienda"] = preparar_vivienda(dfs["vivienda"])

    # Merge progresivo por cod_municipio
    for name in [
        "centros_salud",
        "farmacias",
        "google_places",
        "paro_total",
        "paro_por100",
        "distancia",
        "afiliados",
        "alumnos",
        "cultura",
    ]:
        df_final = merge(df_final, name)

    # Unir vivienda por municipio (texto)
    if "vivienda" in dfs:
        df_viv = dfs["vivienda"]
        df_final["municipio_norm"] = df_final["municipio"].str.strip().str.lower()
        df_viv["municipio"] = df_viv["municipio"].astype(str).str.strip().str.lower()

        df_final = df_final.merge(
            df_viv,
            left_on="municipio_norm",
            right_on="municipio",
            how="left"
        )
        df_final.drop(columns=["municipio_norm", "municipio_y"], inplace=True, errors="ignore")
        df_final.rename(columns={"municipio_x": "municipio"}, inplace=True)

    # Guardar resultado
    df_final.to_csv(output_path, index=False)
    print(f"\n‚úÖ DataFrame final guardado en: {output_path}")
    print(f"Filas: {len(df_final)} | Columnas: {df_final.shape[1]}")
    return df_final

# Unir y ver resultado final
df_final = unir_todos(dfs)
# Definir columnas finales a conservar
final_columns = [
    "cod_municipio", "municipio", "latitud", "longitud", "altitud", "poblacion",
    "centros_salud_10mil", "farmacias_10mil",
    "n_gym", "gym_total_reviews", "gym_weighted_avg_rating", "gym_rating_min", "gym_rating_max",
    "n_school", "school_total_reviews", "school_weighted_avg_rating", "school_rating_min", "school_rating_max",
    "n_transport", "transport_total_reviews", "transport_weighted_avg_rating", "transport_rating_min", "transport_rating_max",
    "n_restaurant", "restaurant_total_reviews", "restaurant_weighted_avg_rating", "restaurant_rating_min", "restaurant_rating_max",
    "n_pharmacy", "pharmacy_total_reviews", "pharmacy_weighted_avg_rating", "pharmacy_rating_min", "pharmacy_rating_max",
    "paro_total", "paro_100", "distancia_capital",
    "alumnos_total", "cultura", "IPVA"
]

# Filtrar solo las columnas que queremos conservar
cols_to_keep = [c for c in df_final.columns if c in final_columns or c.startswith("afiliados_")]
df_final = df_final[cols_to_keep]
print(f"\n=== DATAFRAME FINAL UNIDO ===\nFilas: {len(df_final)} | Columnas: {df_final.shape[1]}")
print(df_final.head(10))
print(df_final.columns.tolist())

üß© Uniendo centros_salud...
üß© Uniendo farmacias...
üß© Uniendo google_places...
üß© Uniendo paro_total...
üß© Uniendo paro_por100...
üß© Uniendo distancia...
üß© Uniendo afiliados...
üß© Uniendo alumnos...
üß© Uniendo cultura...

‚úÖ DataFrame final guardado en: df_final.csv
Filas: 155 | Columnas: 64

=== DATAFRAME FINAL UNIDO ===
Filas: 155 | Columnas: 46
   cod_municipio          municipio   latitud  longitud    altitud  poblacion  \
0             14       Acebeda (La)  41.08697 -3.624634  1266.5420       68.0
1             29            Ajalvir  40.53437 -3.481002   680.1722     4946.0
2             35  Alameda del Valle  40.91790 -3.843788  1109.9340      256.0
3             40         √Ålamo (El)  40.22972 -3.992688   606.2238    10413.0
4             88   Aldea del Fresno  40.32399 -4.202217   476.7994     3422.0
5             91             Algete  40.59642 -3.497902   712.8972    21134.0
6            105          Alpedrete  40.65875 -4.023713   916.7029    15655.0
7            112             Ambite  40.32920 -3.181895   667.3380      701.0
8            127           Anchuelo  40.46549 -3.268585   761.7067     1393.0
9            151      Arroyomolinos  40.26884 -3.920291   597.4142    37299.0

   centros_salud_10mil  farmacias_10mil  n_gym  gym_total_reviews  ...  \
0                    0                0      1                  0  ...
1                    0                2     20               1563  ...
2                    0               39      1                  0  ...
3                    0                2     19               2401  ...
4                    0                3      4                147  ...
5                    0                3     20               1223  ...
6                    0                2     20               3702  ...
7                    0               14      2                  0  ...
8                    0                7     20               1296  ...
9                    0                3     20               4827  ...

   afiliados_agricultura_y_ganader√≠a  afiliados_construcci√≥n  \
0                                  0                       1
1                                 15                     110
2                                  4                       3
3                                 22                     371
4                                 27                     149
5                                 50                     618
6                                 11                     383
7                                  2                      24
8                                  8                      47
9                                 16                    1027

   afiliados_miner√≠a_industria_y_energ√≠a  afiliados_otros_servicios  \
0                                      2                          8
1                                    253                        578
2                                      4                         31
3                                    319                       1164
4                                     70                        340
5                                    928                       2281
6                                    330                       2218
7                                     26                         76
8                                     74                        114
9                                    933                       4382

   afiliados_servicios_a_empresas_y_financieros  \
0                                             8
1                                           521
2                                            20
3                                           773
4                                           213
5                                          3045
6                                          2063
7                                            48
8                                           113
9                                          4079

   afiliados_servicios_de_distribuci√≥n_y_hosteler√≠a  afiliados_total  \
0                                                11               30
1                                               691             2168
2                                                27               89
3                                              1122             3771
4                                               283             1082
5                                              2874             9796
6                                              1757             6762
7                                                63              239
8                                               160              516
9                                              4289            14726

   alumnos_total  cultura     IPVA
0              0      0.0      NaN
1           1336      0.0      NaN
2              0      0.0      NaN
3           4244      0.0      NaN
4            566      0.0      NaN
5           9060      1.0  114.728
6           5820      0.0  118.558
7             26      0.0      NaN
8            330      0.0      NaN
9          19406      1.0  123.239

[10 rows x 46 columns]
['cod_municipio', 'municipio', 'latitud', 'longitud', 'altitud', 'poblacion', 'centros_salud_10mil', 'farmacias_10mil', 'n_gym', 'gym_total_reviews', 'gym_weighted_avg_rating', 'gym_rating_min', 'gym_rating_max', 'n_restaurant', 'restaurant_total_reviews', 'restaurant_weighted_avg_rating', 'restaurant_rating_min', 'restaurant_rating_max', 'n_pharmacy', 'pharmacy_total_reviews', 'pharmacy_weighted_avg_rating', 'pharmacy_rating_min', 'pharmacy_rating_max', 'n_school', 'school_total_reviews', 'school_weighted_avg_rating', 'school_rating_min', 'school_rating_max', 'n_transport', 'transport_total_reviews', 'transport_weighted_avg_rating', 'transport_rating_min', 'transport_rating_max', 'paro_total', 'paro_100', 'distancia_capital', 'afiliados_agricultura_y_ganader√≠a', 'afiliados_construcci√≥n', 'afiliados_miner√≠a_industria_y_energ√≠a', 'afiliados_otros_servicios', 'afiliados_servicios_a_empresas_y_financieros', 'afiliados_servicios_de_distribuci√≥n_y_hosteler√≠a', 'afiliados_total', 'alumnos_total', 'cultura', 'IPVA']

In [7]:
# Guardar CSV
# output_path = "Datasets/df_final.csv"
# df_final.to_csv(output_path, index=False, encoding="utf-8-sig")

# EDA (df_final)

In [8]:
# === EDA B√ÅSICO ===

# Ver dimensiones
print("üìè Dimensiones:", df_final.shape)

# Ver primeras filas
print("\nüîç Vista previa:")
display(df_final.head())

# Tipos de datos
print("\nüìö Tipos de datos:")
print(df_final.dtypes)

# Valores faltantes
print("\n‚ùå Valores nulos por columna:")
print(df_final.isnull().sum().sort_values(ascending=False))

# Porcentaje de valores nulos
print("\nüìä Porcentaje de nulos:")
print((df_final.isnull().mean() * 100).round(2).sort_values(ascending=False))

# Valores √∫nicos
print("\nüî¢ N√∫mero de valores √∫nicos por columna:")
print(df_final.nunique().sort_values(ascending=False))

# Estad√≠sticas num√©ricas
print("\nüìà Resumen estad√≠stico:")
display(df_final.describe().T)

üìè Dimensiones: (155, 46)

üîç Vista previa:

,cod_municipio,municipio,latitud,longitud,altitud,poblacion,centros_salud_10mil,farmacias_10mil,n_gym,gym_total_reviews,...,afiliados_agricultura_y_ganader√≠a,afiliados_construcci√≥n,afiliados_miner√≠a_industria_y_energ√≠a,afiliados_otros_servicios,afiliados_servicios_a_empresas_y_financieros,afiliados_servicios_de_distribuci√≥n_y_hosteler√≠a,afiliados_total,alumnos_total,cultura,IPVA
0,14,Acebeda (La),41.08697,-3.624634,1266.5420,68.0,0,0,1,0,...,0,1,2,8,8,11,30,0,0.0,NaN
1,29,Ajalvir,40.53437,-3.481002,680.1722,4946.0,0,2,20,1563,...,15,110,253,578,521,691,2168,1336,0.0,NaN
2,35,Alameda del Valle,40.91790,-3.843788,1109.9340,256.0,0,39,1,0,...,4,3,4,31,20,27,89,0,0.0,NaN
3,40,√Ålamo (El),40.22972,-3.992688,606.2238,10413.0,0,2,19,2401,...,22,371,319,1164,773,1122,3771,4244,0.0,NaN
4,88,Aldea del Fresno,40.32399,-4.202217,476.7994,3422.0,0,3,4,147,...,27,149,70,340,213,283,1082,566,0.0,NaN

üìö Tipos de datos:
cod_municipio                                         int64
municipio                                            object
latitud                                             float64
longitud                                            float64
altitud                                             float64
poblacion                                           float64
centros_salud_10mil                                   int64
farmacias_10mil                                       int64
n_gym                                                 int64
gym_total_reviews                                     int64
gym_weighted_avg_rating                             float64
gym_rating_min                                      float64
gym_rating_max                                      float64
n_restaurant                                          int64
restaurant_total_reviews                              int64
restaurant_weighted_avg_rating                      float64
restaurant_rating_min                               float64
restaurant_rating_max                               float64
n_pharmacy                                            int64
pharmacy_total_reviews                                int64
pharmacy_weighted_avg_rating                        float64
pharmacy_rating_min                                 float64
pharmacy_rating_max                                 float64
n_school                                              int64
school_total_reviews                                  int64
school_weighted_avg_rating                          float64
school_rating_min                                   float64
school_rating_max                                   float64
n_transport                                           int64
transport_total_reviews                               int64
transport_weighted_avg_rating                       float64
transport_rating_min                                float64
transport_rating_max                                float64
paro_total                                            int64
paro_100                                            float64
distancia_capital                                   float64
afiliados_agricultura_y_ganader√≠a                     int64
afiliados_construcci√≥n                                int64
afiliados_miner√≠a_industria_y_energ√≠a                 int64
afiliados_otros_servicios                             int64
afiliados_servicios_a_empresas_y_financieros          int64
afiliados_servicios_de_distribuci√≥n_y_hosteler√≠a      int64
afiliados_total                                       int64
alumnos_total                                         int64
cultura                                             float64
IPVA                                                float64
dtype: object

‚ùå Valores nulos por columna:
IPVA                                                129
gym_rating_max                                       36
gym_weighted_avg_rating                              36
gym_rating_min                                       36
school_rating_min                                    24
school_weighted_avg_rating                           24
school_rating_max                                    24
pharmacy_weighted_avg_rating                          4
pharmacy_rating_min                                   4
pharmacy_rating_max                                   4
transport_weighted_avg_rating                         3
transport_rating_min                                  3
transport_rating_max                                  3
latitud                                               0
n_restaurant                                          0
farmacias_10mil                                       0
n_gym                                                 0
gym_total_reviews                                     0
centros_salud_10mil                                   0
longitud                                              0
altitud                                               0
poblacion                                             0
municipio                                             0
cod_municipio                                         0
restaurant_rating_min                                 0
restaurant_rating_max                                 0
n_pharmacy                                            0
pharmacy_total_reviews                                0
restaurant_total_reviews                              0
restaurant_weighted_avg_rating                        0
transport_total_reviews                               0
n_transport                                           0
n_school                                              0
school_total_reviews                                  0
paro_100                                              0
distancia_capital                                     0
afiliados_agricultura_y_ganader√≠a                     0
paro_total                                            0
afiliados_construcci√≥n                                0
afiliados_miner√≠a_industria_y_energ√≠a                 0
afiliados_servicios_a_empresas_y_financieros          0
afiliados_otros_servicios                             0
afiliados_servicios_de_distribuci√≥n_y_hosteler√≠a      0
afiliados_total                                       0
alumnos_total                                         0
cultura                                               0
dtype: int64

üìä Porcentaje de nulos:
IPVA                                                83.23
gym_rating_max                                      23.23
gym_weighted_avg_rating                             23.23
gym_rating_min                                      23.23
school_rating_min                                   15.48
school_weighted_avg_rating                          15.48
school_rating_max                                   15.48
pharmacy_weighted_avg_rating                         2.58
pharmacy_rating_min                                  2.58
pharmacy_rating_max                                  2.58
transport_weighted_avg_rating                        1.94
transport_rating_min                                 1.94
transport_rating_max                                 1.94
latitud                                              0.00
n_restaurant                                         0.00
farmacias_10mil                                      0.00
n_gym                                                0.00
gym_total_reviews                                    0.00
centros_salud_10mil                                  0.00
longitud                                             0.00
altitud                                              0.00
poblacion                                            0.00
municipio                                            0.00
cod_municipio                                        0.00
restaurant_rating_min                                0.00
restaurant_rating_max                                0.00
n_pharmacy                                           0.00
pharmacy_total_reviews                               0.00
restaurant_total_reviews                             0.00
restaurant_weighted_avg_rating                       0.00
transport_total_reviews                              0.00
n_transport                                          0.00
n_school                                             0.00
school_total_reviews                                 0.00
paro_100                                             0.00
distancia_capital                                    0.00
afiliados_agricultura_y_ganader√≠a                    0.00
paro_total                                           0.00
afiliados_construcci√≥n                               0.00
afiliados_miner√≠a_industria_y_energ√≠a                0.00
afiliados_servicios_a_empresas_y_financieros         0.00
afiliados_otros_servicios                            0.00
afiliados_servicios_de_distribuci√≥n_y_hosteler√≠a     0.00
afiliados_total                                      0.00
alumnos_total                                        0.00
cultura                                              0.00
dtype: float64

üî¢ N√∫mero de valores √∫nicos por columna:
cod_municipio                                       155
municipio                                           155
latitud                                             155
longitud                                            155
altitud                                             155
distancia_capital                                   155
restaurant_total_reviews                            154
restaurant_weighted_avg_rating                      154
poblacion                                           153
afiliados_total                                     146
afiliados_otros_servicios                           143
afiliados_servicios_de_distribuci√≥n_y_hosteler√≠a    143
transport_weighted_avg_rating                       142
afiliados_servicios_a_empresas_y_financieros        137
paro_100                                            134
paro_total                                          133
pharmacy_weighted_avg_rating                        132
pharmacy_total_reviews                              125
afiliados_construcci√≥n                              125
alumnos_total                                       123
afiliados_miner√≠a_industria_y_energ√≠a               118
gym_weighted_avg_rating                             113
gym_total_reviews                                   110
school_weighted_avg_rating                           97
school_total_reviews                                 88
transport_total_reviews                              82
afiliados_agricultura_y_ganader√≠a                    50
pharmacy_rating_min                                  28
farmacias_10mil                                      27
IPVA                                                 26
n_transport                                          26
gym_rating_min                                       25
restaurant_rating_min                                23
n_gym                                                21
n_pharmacy                                           21
n_school                                             21
school_rating_min                                    19
transport_rating_min                                 17
n_restaurant                                         14
pharmacy_rating_max                                  11
gym_rating_max                                        9
restaurant_rating_max                                 8
transport_rating_max                                  7
centros_salud_10mil                                   6
school_rating_max                                     6
cultura                                               6
dtype: int64

üìà Resumen estad√≠stico:

,count,mean,std,min,25%,50%,75%,max
cod_municipio,155.0,1050.483871,1059.854519,14.000000,474.000000,954.000000,1447.500000,9020.000000
latitud,155.0,40.569981,0.291154,40.068120,40.332945,40.547490,40.817990,41.133120
longitud,155.0,-3.688450,0.328369,-4.490765,-3.946887,-3.617723,-3.461919,-3.106115
altitud,155.0,830.122131,214.092959,476.799400,659.797400,765.679100,1011.697000,1436.419000
poblacion,155.0,6340.058065,8128.545833,68.000000,832.000000,2952.000000,8421.000000,38969.000000
centros_salud_10mil,155.0,0.270968,0.839834,0.000000,0.000000,0.000000,0.000000,6.000000
farmacias_10mil,155.0,6.187097,8.210531,0.000000,2.000000,3.000000,6.000000,50.000000
n_gym,155.0,10.483871,7.915425,0.000000,2.000000,10.000000,20.000000,20.000000
gym_total_reviews,155.0,1333.335484,5553.688383,0.000000,1.000000,312.000000,1200.000000,68031.000000
gym_weighted_avg_rating,119.0,4.429229,0.553318,1.000000,4.298924,4.476890,4.714090,5.000000
gym_rating_min,119.0,3.552941,0.779703,1.000000,3.250000,3.600000,4.000000,5.000000
gym_rating_max,119.0,4.873109,0.577355,1.000000,5.000000,5.000000,5.000000,5.000000
n_restaurant,155.0,18.412903,4.022319,1.000000,20.000000,20.000000,20.000000,20.000000
restaurant_total_reviews,155.0,12682.032258,7278.465735,64.000000,6776.500000,12254.000000,16500.000000,32459.000000
restaurant_weighted_avg_rating,155.0,4.228132,0.159367,3.559096,4.122018,4.240891,4.338360,4.700000
restaurant_rating_min,155.0,3.427097,0.474042,1.500000,3.200000,3.500000,3.800000,4.700000
restaurant_rating_max,155.0,4.800645,0.166514,4.300000,4.700000,4.800000,5.000000,5.000000
n_pharmacy,155.0,9.212903,6.540570,0.000000,4.000000,7.000000,14.000000,20.000000
pharmacy_total_reviews,155.0,1092.638710,5557.673834,0.000000,60.000000,195.000000,570.000000,61191.000000
pharmacy_weighted_avg_rating,151.0,4.243044,0.440076,2.725000,4.088792,4.278400,4.467906,5.000000
pharmacy_rating_min,151.0,3.404636,0.869432,1.000000,3.000000,3.500000,3.800000,5.000000
pharmacy_rating_max,151.0,4.843709,0.296777,3.300000,4.800000,5.000000,5.000000,5.000000
n_school,155.0,13.361290,6.719698,0.000000,8.000000,14.000000,20.000000,20.000000
school_total_reviews,155.0,186.341935,302.763665,0.000000,9.000000,59.000000,206.500000,1595.000000
school_weighted_avg_rating,131.0,4.735690,0.240561,3.800000,4.605263,4.795322,4.907444,5.000000
school_rating_min,131.0,4.335115,0.657141,1.000000,3.900000,4.500000,4.850000,5.000000
school_rating_max,131.0,4.967939,0.130836,3.800000,5.000000,5.000000,5.000000,5.000000
n_transport,155.0,24.561290,6.040001,1.000000,22.000000,24.000000,27.000000,58.000000
transport_total_reviews,155.0,160.948387,478.820341,0.000000,12.000000,20.000000,77.000000,4669.000000
transport_weighted_avg_rating,152.0,4.064784,0.476902,2.318557,3.813849,4.126452,4.428571,4.937500
transport_rating_min,152.0,2.273684,1.090946,1.000000,1.000000,2.300000,3.000000,4.800000
transport_rating_max,152.0,4.964474,0.152857,4.000000,5.000000,5.000000,5.000000,5.000000
paro_total,155.0,275.941935,330.204074,1.000000,45.000000,153.000000,397.000000,1807.000000
paro_100,155.0,4.881161,1.416858,1.200000,3.930000,4.890000,5.860000,8.160000
distancia_capital,155.0,55.963845,19.867583,18.348000,40.979500,51.894000,68.928500,103.620000
afiliados_agricultura_y_ganader√≠a,155.0,19.296774,25.405842,0.000000,5.500000,11.000000,24.000000,232.000000
afiliados_construcci√≥n,155.0,191.225806,243.692071,0.000000,25.500000,102.000000,272.000000,1364.000000
afiliados_miner√≠a_industria_y_energ√≠a,155.0,218.819355,298.586746,0.000000,33.500000,95.000000,275.000000,1809.000000
afiliados_otros_servicios,155.0,761.400000,1040.195465,2.000000,78.000000,313.000000,1027.000000,5733.000000
afiliados_servicios_a_empresas_y_financieros,155.0,687.200000,1033.086413,1.000000,54.000000,223.000000,805.000000,5117.000000
afiliados_servicios_de_distribuci√≥n_y_hosteler√≠a,155.0,755.980645,1055.923271,4.000000,72.500000,305.000000,952.000000,6609.000000
afiliados_total,155.0,2633.922581,3568.835329,9.000000,278.000000,1096.000000,3385.500000,19722.000000
alumnos_total,155.0,2825.238710,5100.066994,0.000000,30.000000,566.000000,3604.000000,37956.000000
cultura,155.0,0.735484,1.051143,0.000000,0.000000,0.000000,1.000000,5.000000
IPVA,26.0,118.078192,3.187073,112.163000,116.228750,117.638500,120.177500,125.794000

Algunos NaN vienen de municipios sin gimnasios, colegios, farmacias o transporte registrados (no porque falte el dato, sino porque el valor es inexistente). Otros son porque quiz√°s tengan pocas instalaciones o nadie haya puesto ninguna rese√±a. Lo exploraremos m√°s a fondo. 

En el caso de 'IPVA', que presenta un 83.23% de null values, plantear√≠amos quitar esa columna. Esto se debe a que la dataset original contiene datos de municipios de toda Espa√±a, y muchos municipios, sobretodo peque√±os, de Madrid no aparec√≠an. Los municipios que no estaban presentes en el dataset originalmente los met√≠an en una fila con valor municipio como 'Resto Madrid'con IPVA de 118,417. Es un valor cercano a la media de los municipios de los que s√≠ tenemos datos, que es 118.078192.

In [9]:
# === GIMNASIOS ===
gym_cols = ["cod_municipio", "municipio", "n_gym", "gym_total_reviews", 
             "gym_weighted_avg_rating", "gym_rating_min", "gym_rating_max"]
print("üèãÔ∏è FILAS CON gym_rating nulo:\n")
display(df_final[df_final["gym_weighted_avg_rating"].isna()][gym_cols])

# === FARMACIAS ===
pharma_cols = ["cod_municipio", "municipio", "farmacias_10mil", 'n_pharmacy',
               "pharmacy_weighted_avg_rating", "pharmacy_rating_min", "pharmacy_rating_max"]
print("\nüíä FILAS CON pharmacy_rating nulo:\n")
display(df_final[df_final["pharmacy_weighted_avg_rating"].isna()][pharma_cols])

# === ESCUELAS ===
school_cols = ["cod_municipio", "municipio", "n_school", "alumnos_total",
               "school_total_reviews", "school_weighted_avg_rating", 
               "school_rating_min", "school_rating_max"]
print("\nüè´ FILAS CON school_rating nulo:\n")
display(df_final[df_final["school_weighted_avg_rating"].isna()][school_cols])

# === TRANSPORTE ===
transport_cols = ["cod_municipio", "municipio", "n_transport",
                  "transport_total_reviews", "transport_weighted_avg_rating",
                  "transport_rating_min", "transport_rating_max"]
print("\nüöå FILAS CON transport_rating nulo:\n")
display(df_final[df_final["transport_weighted_avg_rating"].isna()][transport_cols])

üèãÔ∏è FILAS CON gym_rating nulo:

,cod_municipio,municipio,n_gym,gym_total_reviews,gym_weighted_avg_rating,gym_rating_min,gym_rating_max
0,14,Acebeda (La),1,0,NaN,NaN,NaN
2,35,Alameda del Valle,1,0,NaN,NaN,NaN
7,112,Ambite,2,0,NaN,NaN,NaN
10,164,Atazar (El),0,0,NaN,NaN,NaN
15,203,Berzosa del Lozoya,0,0,NaN,NaN,NaN
17,246,Braojos,1,0,NaN,NaN,NaN
20,278,Buitrago del Lozoya,1,0,NaN,NaN,NaN
27,344,Canencia,1,0,NaN,NaN,NaN
28,357,Caraba√±a,1,0,NaN,NaN,NaN
32,395,Cervera de Buitrago,2,0,NaN,NaN,NaN
52,632,Gargantilla del Lozoya y Pinilla de Buitrago,0,0,NaN,NaN,NaN
53,647,Gascones,1,0,NaN,NaN,NaN
57,698,Hiruela (La),0,0,NaN,NaN,NaN
58,702,Horcajo de la Sierra,1,0,NaN,NaN,NaN
59,719,Horcajuelo de la Sierra,1,0,NaN,NaN,NaN
63,761,Lozoya,1,0,NaN,NaN,NaN
65,783,Madarcos,1,0,NaN,NaN,NaN
72,881,Montejo de la Sierra,1,0,NaN,NaN,NaN
80,973,Navarredonda y San Mam√©s,0,0,NaN,NaN,NaN
83,1013,Olmeda de las Fuentes,3,0,NaN,NaN,NaN
84,1028,Orusco de Taju√±a,1,0,NaN,NaN,NaN
89,1104,Perales de Taju√±a,1,0,NaN,NaN,NaN
91,1126,Pinilla del Valle,1,0,NaN,NaN,NaN
92,1147,Pi√±u√©car-Gandullas,2,0,NaN,NaN,NaN
94,1179,Pr√°dena del Rinc√≥n,1,0,NaN,NaN,NaN
95,1185,Puebla de la Sierra,0,0,NaN,NaN,NaN
96,9020,Puentes Viejas,0,0,NaN,NaN,NaN
98,1202,Rascafr√≠a,1,0,NaN,NaN,NaN
101,1245,Robledillo de la Jara,1,0,NaN,NaN,NaN
103,1261,Robregordo,0,0,NaN,NaN,NaN
113,1381,Serna del Monte (La),1,0,NaN,NaN,NaN
116,1436,Somosierra,1,0,NaN,NaN,NaN
127,1551,Valdaracete,0,0,NaN,NaN,NaN
144,1739,Villamanrique de Tajo,0,0,NaN,NaN,NaN
150,1795,Villar del Olmo,4,0,NaN,NaN,NaN
153,1821,Villavieja del Lozoya,1,0,NaN,NaN,NaN

üíä FILAS CON pharmacy_rating nulo:

,cod_municipio,municipio,farmacias_10mil,n_pharmacy,pharmacy_weighted_avg_rating,pharmacy_rating_min,pharmacy_rating_max
10,164,Atazar (El),0,0,NaN,NaN,NaN
95,1185,Puebla de la Sierra,0,0,NaN,NaN,NaN
103,1261,Robregordo,0,0,NaN,NaN,NaN
116,1436,Somosierra,0,0,NaN,NaN,NaN

üè´ FILAS CON school_rating nulo:

,cod_municipio,municipio,n_school,alumnos_total,school_total_reviews,school_weighted_avg_rating,school_rating_min,school_rating_max
10,164,Atazar (El),0,0,0,NaN,NaN,NaN
14,210,Berrueco (El),8,12,0,NaN,NaN,NaN
15,203,Berzosa del Lozoya,0,0,0,NaN,NaN,NaN
18,259,Brea de Tajo,7,14,0,NaN,NaN,NaN
23,301,Cabrera (La),11,2358,0,NaN,NaN,NaN
24,318,Cadalso de los Vidrios,9,880,0,NaN,NaN,NaN
28,357,Caraba√±a,9,412,0,NaN,NaN,NaN
30,376,Cenicientos,8,454,0,NaN,NaN,NaN
32,395,Cervera de Buitrago,1,22,0,NaN,NaN,NaN
45,552,Estremera,6,312,0,NaN,NaN,NaN
51,626,Garganta de los Montes,6,0,0,NaN,NaN,NaN
57,698,Hiruela (La),0,0,0,NaN,NaN,NaN
64,9015,Lozoyuela-Navas-Sieteiglesias,6,576,0,NaN,NaN,NaN
75,915,Morata de Taju√±a,5,2360,0,NaN,NaN,NaN
89,1104,Perales de Taju√±a,3,500,0,NaN,NaN,NaN
95,1185,Puebla de la Sierra,1,0,0,NaN,NaN,NaN
98,1202,Rascafr√≠a,3,236,0,NaN,NaN,NaN
101,1245,Robledillo de la Jara,0,0,0,NaN,NaN,NaN
116,1436,Somosierra,1,0,0,NaN,NaN,NaN
119,1467,Tielmes,5,546,0,NaN,NaN,NaN
127,1551,Valdaracete,5,434,0,NaN,NaN,NaN
130,1586,Valdemanco,11,28,0,NaN,NaN,NaN
136,1659,Valdilecha,3,1128,0,NaN,NaN,NaN
144,1739,Villamanrique de Tajo,1,14,0,NaN,NaN,NaN

üöå FILAS CON transport_rating nulo:

,cod_municipio,municipio,n_transport,transport_total_reviews,transport_weighted_avg_rating,transport_rating_min,transport_rating_max
95,1185,Puebla de la Sierra,1,0,NaN,NaN,NaN
129,1570,Valdelaguna,21,0,NaN,NaN,NaN
144,1739,Villamanrique de Tajo,6,0,NaN,NaN,NaN

# Preproceso

Los municipios sin oferta (sin gym, farmacia, colegio o transporte) tendr√°n 0 ‚Üí reflejando falta de servicio.

Los municipios con servicios pero sin rese√±as tendr√°n valores medios representativos. Refleja disponibilidad educativa sin penalizar excesivamente por falta de rese√±as.

In [12]:
# Copia del df para imputaci√≥n
df_clean = df_final.copy()

# Drop IPVA
df_clean = df_clean.drop(columns=["IPVA"])

# --- GYMS ---
gym_mean = df_clean["gym_weighted_avg_rating"].mean(skipna=True)
df_clean.loc[df_clean["n_gym"] == 0, ["gym_weighted_avg_rating", "gym_rating_min", "gym_rating_max"]] = 0
df_clean["gym_weighted_avg_rating"] = df_clean["gym_weighted_avg_rating"].fillna(gym_mean)
df_clean["gym_rating_min"] = df_clean["gym_rating_min"].fillna(gym_mean)
df_clean["gym_rating_max"] = df_clean["gym_rating_max"].fillna(gym_mean)

# --- FARMACIAS ---
df_clean.loc[df_clean["farmacias_10mil"] == 0, ["pharmacy_weighted_avg_rating", "pharmacy_rating_min", "pharmacy_rating_max"]] = 0

# --- SCHOOL ---
school_mean = df_clean.loc[df_clean["n_school"] > 0, "school_weighted_avg_rating"].mean()
df_clean["school_weighted_avg_rating"] = df_clean["school_weighted_avg_rating"].fillna(school_mean)
df_clean["school_rating_min"] = df_clean["school_rating_min"].fillna(school_mean)
df_clean["school_rating_max"] = df_clean["school_rating_max"].fillna(school_mean)

# --- TRANSPORT ---
transport_mean = df_clean.loc[df_clean["n_transport"] > 0, "transport_weighted_avg_rating"].mean()
df_clean["transport_weighted_avg_rating"] = df_clean["transport_weighted_avg_rating"].fillna(transport_mean)
df_clean["transport_rating_min"] = df_clean["transport_rating_min"].fillna(transport_mean)
df_clean["transport_rating_max"] = df_clean["transport_rating_max"].fillna(transport_mean)

# Verificar que no quedan nulos
print(df_clean.isna().sum().sort_values(ascending=False))

cod_municipio                                       0
municipio                                           0
latitud                                             0
longitud                                            0
altitud                                             0
poblacion                                           0
centros_salud_10mil                                 0
farmacias_10mil                                     0
n_gym                                               0
gym_total_reviews                                   0
gym_weighted_avg_rating                             0
gym_rating_min                                      0
gym_rating_max                                      0
n_restaurant                                        0
restaurant_total_reviews                            0
restaurant_weighted_avg_rating                      0
restaurant_rating_min                               0
restaurant_rating_max                               0
n_pharmacy                                          0
pharmacy_total_reviews                              0
pharmacy_weighted_avg_rating                        0
pharmacy_rating_min                                 0
pharmacy_rating_max                                 0
n_school                                            0
school_total_reviews                                0
school_weighted_avg_rating                          0
school_rating_min                                   0
school_rating_max                                   0
n_transport                                         0
transport_total_reviews                             0
transport_weighted_avg_rating                       0
transport_rating_min                                0
transport_rating_max                                0
paro_total                                          0
paro_100                                            0
distancia_capital                                   0
afiliados_agricultura_y_ganader√≠a                   0
afiliados_construcci√≥n                              0
afiliados_miner√≠a_industria_y_energ√≠a               0
afiliados_otros_servicios                           0
afiliados_servicios_a_empresas_y_financieros        0
afiliados_servicios_de_distribuci√≥n_y_hosteler√≠a    0
afiliados_total                                     0
alumnos_total                                       0
cultura                                             0
dtype: int64

# C√°lculo interno (Apex)

**Dise√±o de Categor√≠as de Bienestar Municipal**

Con el objetivo de evaluar municipios de menos de 50 000 habitantes y facilitar su redistribuci√≥n poblacional manteniendo la calidad de vida, se han establecido seis dimensiones anal√≠ticas principales:

1. Sanidad: incluye indicadores sobre la densidad de centros de salud y farmacias, junto con la calidad percibida de estos servicios. Representa la accesibilidad y eficiencia de la atenci√≥n m√©dica b√°sica.

2. Educaci√≥n: mide la disponibilidad y valoraci√≥n de los centros educativos no universitarios, as√≠ como el n√∫mero total de alumnos matriculados. Esta dimensi√≥n refleja el nivel educativo local y su capacidad de retenci√≥n de familias j√≥venes.

3. Transporte y Conectividad: valora la existencia y calidad de los medios de transporte p√∫blico, junto con la distancia a la capital provincial. Permite analizar la accesibilidad del municipio y su integraci√≥n territorial.

4. Econom√≠a y Empleo: agrupa variables sobre el mercado laboral, la tasa de paro y la diversificaci√≥n productiva. Eval√∫a la fortaleza econ√≥mica y las oportunidades de empleo en el municipio.

5. Bienestar: se centra en la disponibilidad y calidad de infraestructuras orientadas al cuidado personal y la salud f√≠sica, como gimnasios y centros deportivos. Representa el grado de fomento de h√°bitos saludables y la vida activa.

6. Ocio y Cultura: analiza la oferta gastron√≥mica y cultural, incluyendo restaurantes y actividades culturales, como indicadores de vitalidad social, recreaci√≥n y atractivo local.

Estas seis categor√≠as permitir√°n calcular posteriormente un √≠ndice sint√©tico de bienestar municipal. Cada bloque podr√° ponderarse seg√∫n las preferencias de los usuarios, generando un modelo de recomendaci√≥n de municipios que equilibre servicios, oportunidades y calidad de vida.

## Por ejemplo: √çndice Sanidad

Evaluar la disponibilidad y calidad del sistema sanitario local, considerando tanto el acceso f√≠sico a servicios como la valoraci√≥n de los usuarios.

- Disponibilidad: centros_salud_10mil -> Centros de salud por cada 10.000 habitantes (‚Üë M√°s es mejor)
- Disponibilidad: farmacias_10mil -> Farmacias por cada 10.000 habitantes (‚Üë M√°s es mejor)
- Cantidad:	n_pharmacy -> N√∫mero total de farmacias registradas	(‚Üë M√°s es mejor)
- Calidad percibida:	pharmacy_weighted_avg_rating->	Media ponderada de valoraciones en Google Maps	(‚Üë M√°s es mejor)
- Calidad percibida:	pharmacy_rating_min -> Valoraci√≥n m√≠nima observada	(‚Üë M√°s es mejor)
- Calidad percibida:	pharmacy_rating_max ->	Valoraci√≥n m√°xima observada	(‚Üë M√°s es mejor)